@import url("https://fonts.googleapis.com/css2?family=Gveret+Levin&display=swap");
@import "tailwindcss";

@theme {
  --font-glevin: "Gveret Levin", "Courier New", Courier, monospace;
  --color-background: #eaf5ff;
}

* {
  scrollbar-width: none;
}
